In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('players.csv').loc[:,:'saves'].set_index('surname') #loc[row,column] / #set_index by surname
df

                  team    position  minutes  shots  passes  tackles  saves
surname
Abdoun         Algeria  midfielder       16      0       6        0      0
Belhadj        Algeria    defender      270      1     146        8      0
Boudebouz      Algeria  midfielder       74      3      28        1      0
Bougherra      Algeria    defender      270      1      89       11      0
Chaouchi       Algeria  goalkeeper       90      0      17        0      2
...                ...         ...      ...    ...     ...      ...    ...
Holden             USA  midfielder        4      0       2        0      0
Howard             USA  goalkeeper      390      0      81        0     14
Jozy Altidore      USA     forward      356      8      84        2      0
Onyewu             USA    defender      170      1      69        2      0
Torres             USA  midfielder       45      1      32        0      0

[595 rows x 7 columns]

### Sorting
#### เรียงตามน้อยไปมาก ( accending = True)
    -sort_values เรียงตาม values คอลัมน์ไหน 
    -sort_index
#### เรียงจากมากไปน้อย ( accending = Flase)

### sort values : เรียงตามคอลัมน์ value ไหน

In [3]:
#sort_values เรียงตามคอลัมน์ value ไหน : ในตัวอย่างตาม value passes 

df.sort_values('passes')

,team,position,minutes,shots,passes,tackles,saves
surname,,,,,,,
Barron,New Zealand,midfielder,1,0,0,0,0
Konno,Japan,defender,2,0,0,0,0
Petras,Slovakia,defender,1,0,0,0,0
Kim Dong-Jin,South Korea,defender,1,0,0,0,0
Lee Seung-Yeoul,South Korea,forward,3,0,0,0,0
...,...,...,...,...,...,...,...
Pique,Spain,defender,540,2,402,15,0
Schweinsteiger,Germany,midfielder,531,5,423,23,0
Alonso,Spain,midfielder,506,9,465,18,0
Busquets,Spain,midfielder,511,0,466,15,0
Xavi,Spain,midfielder,515,4,563,6,0

In [4]:
df.sort_values('passes',ascending =False)

,team,position,minutes,shots,passes,tackles,saves
surname,,,,,,,
Xavi,Spain,midfielder,515,4,563,6,0
Busquets,Spain,midfielder,511,0,466,15,0
Alonso,Spain,midfielder,506,9,465,18,0
Schweinsteiger,Germany,midfielder,531,5,423,23,0
Pique,Spain,defender,540,2,402,15,0
...,...,...,...,...,...,...,...
Eggimann,Switzerland,defender,1,0,0,0,0
Barron,New Zealand,midfielder,1,0,0,0,0
Konno,Japan,defender,2,0,0,0,0
Lee Seung-Yeoul,South Korea,forward,3,0,0,0,0
Kim Dong-Jin,South Korea,defender,1,0,0,0,0

In [5]:
df.sort_values('passes',ascending =False).head(20)

,team,position,minutes,shots,passes,tackles,saves
surname,,,,,,,
Xavi,Spain,midfielder,515,4,563,6,0
Busquets,Spain,midfielder,511,0,466,15,0
Alonso,Spain,midfielder,506,9,465,18,0
Schweinsteiger,Germany,midfielder,531,5,423,23,0
Pique,Spain,defender,540,2,402,15,0
Lahm,Germany,defender,540,0,360,17,0
Messi,Argentina,forward,450,21,321,10,0
Capdevila,Spain,defender,540,1,310,10,0
Annan,Ghana,midfielder,510,4,307,11,0
van Bommel,Netherlands,midfielder,540,2,307,31,0
Iniesta,Spain,midfielder,437,8,299,11,0
Gilberto Silva,Brazil,midfielder,450,3,299,11,0
Ramos,Spain,defender,527,9,299,7,0
Mertesacker,Germany,defender,540,0,282,9,0
Khedira,Germany,midfielder,517,6,279,16,0
Sneijder,Netherlands,midfielder,532,15,279,7,0
van Bronckhorst,Netherlands,defender,540,1,271,10,0
Ozil,Germany,midfielder,497,7,266,3,0
Mathijsen,Netherlands,defender,450,1,265,8,0
Heitinga,Netherlands,defender,540,0,259,10,0

In [6]:
#การ sort column values มากกว่า 1 ในกรณีที่
#เรียงแถวก่อนด้วยคอลัมน์ passes มากไปน้อย
#เรียงแถวต่อมาด้วยคอลิมน์ shots น้อยไปมาก
#ถ้าค่า passes เท่ากันจะไปเรียงตามshots ต่อ
df.sort_values(['passes','shots'],ascending =[False,True]).head(20)

,team,position,minutes,shots,passes,tackles,saves
surname,,,,,,,
Xavi,Spain,midfielder,515,4,563,6,0
Busquets,Spain,midfielder,511,0,466,15,0
Alonso,Spain,midfielder,506,9,465,18,0
Schweinsteiger,Germany,midfielder,531,5,423,23,0
Pique,Spain,defender,540,2,402,15,0
Lahm,Germany,defender,540,0,360,17,0
Messi,Argentina,forward,450,21,321,10,0
Capdevila,Spain,defender,540,1,310,10,0
van Bommel,Netherlands,midfielder,540,2,307,31,0
Annan,Ghana,midfielder,510,4,307,11,0
Gilberto Silva,Brazil,midfielder,450,3,299,11,0
Iniesta,Spain,midfielder,437,8,299,11,0
Ramos,Spain,defender,527,9,299,7,0
Mertesacker,Germany,defender,540,0,282,9,0
Khedira,Germany,midfielder,517,6,279,16,0
Sneijder,Netherlands,midfielder,532,15,279,7,0
van Bronckhorst,Netherlands,defender,540,1,271,10,0
Ozil,Germany,midfielder,497,7,266,3,0
Mathijsen,Netherlands,defender,450,1,265,8,0
Heitinga,Netherlands,defender,540,0,259,10,0

### sort index : เรียงตาม index ของแถว

In [7]:
df.sort_index(ascending = False)

,team,position,minutes,shots,passes,tackles,saves
surname,,,,,,,
von Bergen,Switzerland,defender,234,0,79,3,0
van Persie,Netherlands,forward,479,14,108,1,0
van Bronckhorst,Netherlands,defender,540,1,271,10,0
van Bommel,Netherlands,midfielder,540,2,307,31,0
de Zeeuw,Netherlands,midfielder,47,0,37,2,0
...,...,...,...,...,...,...,...
Aboubakar,Cameroon,forward,46,2,16,0,0
Abou Diaby,France,midfielder,270,1,111,5,0
Abidal,France,defender,180,0,91,6,0
Abe,Japan,midfielder,351,0,101,14,0
Abdoun,Algeria,midfielder,16,0,6,0,0

### Assignment

In [8]:
df

                  team    position  minutes  shots  passes  tackles  saves
surname
Abdoun         Algeria  midfielder       16      0       6        0      0
Belhadj        Algeria    defender      270      1     146        8      0
Boudebouz      Algeria  midfielder       74      3      28        1      0
Bougherra      Algeria    defender      270      1      89       11      0
Chaouchi       Algeria  goalkeeper       90      0      17        0      2
...                ...         ...      ...    ...     ...      ...    ...
Holden             USA  midfielder        4      0       2        0      0
Howard             USA  goalkeeper      390      0      81        0     14
Jozy Altidore      USA     forward      356      8      84        2      0
Onyewu             USA    defender      170      1      69        2      0
Torres             USA  midfielder       45      1      32        0      0

[595 rows x 7 columns]

In [9]:
#การแก้ไขหรือเปลี่ยนแปลงข้อมูลหรือ Assign ให้ค่าที่แถว Abodun , คอลัมน์ shots = 1
df.loc['Abdoun','shots'] = 1

In [10]:
df

                  team    position  minutes  shots  passes  tackles  saves
surname
Abdoun         Algeria  midfielder       16      1       6        0      0
Belhadj        Algeria    defender      270      1     146        8      0
Boudebouz      Algeria  midfielder       74      3      28        1      0
Bougherra      Algeria    defender      270      1      89       11      0
Chaouchi       Algeria  goalkeeper       90      0      17        0      2
...                ...         ...      ...    ...     ...      ...    ...
Holden             USA  midfielder        4      0       2        0      0
Howard             USA  goalkeeper      390      0      81        0     14
Jozy Altidore      USA     forward      356      8      84        2      0
Onyewu             USA    defender      170      1      69        2      0
Torres             USA  midfielder       45      1      32        0      0

[595 rows x 7 columns]

In [11]:
df.sort_values('minutes')

                     team    position  minutes  shots  passes  tackles  saves
surname
Petras           Slovakia    defender        1      0       0        0      0
Barron        New Zealand  midfielder        1      0       0        0      0
Kim Dong-Jin  South Korea    defender        1      0       0        0      0
Mesbah            Algeria  midfielder        1      0       1        0      0
Eggimann      Switzerland    defender        1      0       0        0      0
...                   ...         ...      ...    ...     ...      ...    ...
Forlan            Uruguay     forward      564     18     202        0      0
Perez             Uruguay  midfielder      567      2     252       34      0
Muslera           Uruguay  goalkeeper      570      0      75        0     16
Maxi Pereira      Uruguay  midfielder      570      5     182       15      0
Arevalo Rios      Uruguay  midfielder      570      5     195       21      0

[595 rows x 7 columns]

In [12]:
#1.กรองข้อมูล
df.loc[df.minutes == 570,'minutes']

surname
Arevalo Rios    570
Maxi Pereira    570
Muslera         570
Name: minutes, dtype: int64

In [13]:
#2.Assign
df.loc[df.minutes == 570,'minutes'] = 600 #เป็นวิธีการ broadcasting การเอาค่าเดียวกระจายไปที่แถวแต่ละแถว

In [14]:
df.sort_values('minutes')

                     team    position  minutes  shots  passes  tackles  saves
surname
Petras           Slovakia    defender        1      0       0        0      0
Barron        New Zealand  midfielder        1      0       0        0      0
Kim Dong-Jin  South Korea    defender        1      0       0        0      0
Mesbah            Algeria  midfielder        1      0       1        0      0
Eggimann      Switzerland    defender        1      0       0        0      0
...                   ...         ...      ...    ...     ...      ...    ...
Forlan            Uruguay     forward      564     18     202        0      0
Perez             Uruguay  midfielder      567      2     252       34      0
Muslera           Uruguay  goalkeeper      600      0      75        0     16
Maxi Pereira      Uruguay  midfielder      600      5     182       15      0
Arevalo Rios      Uruguay  midfielder      600      5     195       21      0

[595 rows x 7 columns]

In [15]:
df.loc[df.minutes == 570, 'minutes']

Series([], Name: minutes, dtype: int64)

In [16]:
#df.loc[df.minutes == 570, 'minutes'] = [570,580,590] # Sequence assignment

In [17]:
df

                  team    position  minutes  shots  passes  tackles  saves
surname
Abdoun         Algeria  midfielder       16      1       6        0      0
Belhadj        Algeria    defender      270      1     146        8      0
Boudebouz      Algeria  midfielder       74      3      28        1      0
Bougherra      Algeria    defender      270      1      89       11      0
Chaouchi       Algeria  goalkeeper       90      0      17        0      2
...                ...         ...      ...    ...     ...      ...    ...
Holden             USA  midfielder        4      0       2        0      0
Howard             USA  goalkeeper      390      0      81        0     14
Jozy Altidore      USA     forward      356      8      84        2      0
Onyewu             USA    defender      170      1      69        2      0
Torres             USA  midfielder       45      1      32        0      0

[595 rows x 7 columns]

## Arithmatic การคำนวณ

In [18]:
#เลือกคอลัมน์ที่จะทำการคำนวณ
df.shots

surname
Abdoun           1
Belhadj          1
Boudebouz        3
Bougherra        1
Chaouchi         0
                ..
Holden           0
Howard           0
Jozy Altidore    8
Onyewu           1
Torres           1
Name: shots, Length: 595, dtype: int64

In [19]:
#การ broadcast แต่จะเป็น df ชั่วคราว
df.shots + 5

surname
Abdoun            6
Belhadj           6
Boudebouz         8
Bougherra         6
Chaouchi          5
                 ..
Holden            5
Howard            5
Jozy Altidore    13
Onyewu            6
Torres            6
Name: shots, Length: 595, dtype: int64

In [20]:
#ถ้าต้องการ assign ค่านั้นไปที่ df 
df_shots = df.shots + 5

In [21]:
df

                  team    position  minutes  shots  passes  tackles  saves
surname
Abdoun         Algeria  midfielder       16      1       6        0      0
Belhadj        Algeria    defender      270      1     146        8      0
Boudebouz      Algeria  midfielder       74      3      28        1      0
Bougherra      Algeria    defender      270      1      89       11      0
Chaouchi       Algeria  goalkeeper       90      0      17        0      2
...                ...         ...      ...    ...     ...      ...    ...
Holden             USA  midfielder        4      0       2        0      0
Howard             USA  goalkeeper      390      0      81        0     14
Jozy Altidore      USA     forward      356      8      84        2      0
Onyewu             USA    defender      170      1      69        2      0
Torres             USA  midfielder       45      1      32        0      0

[595 rows x 7 columns]

In [22]:
five_players_df = df.sample(5)
five_players_df

,team,position,minutes,shots,passes,tackles,saves
surname,,,,,,,
Mucha,Slovakia,goalkeeper,360,0,85,0,14
Nam Song-Chol,North Korea,defender,15,0,6,0,0
Torosidis,Greece,defender,235,3,74,5,0
Simon Poulsen,Denmark,midfielder,270,1,99,9,0
Pa Gaxa,South Africa,defender,215,1,95,2,0

In [23]:
c1 = five_players_df.shots
c1

surname
Mucha            0
Nam Song-Chol    0
Torosidis        3
Simon Poulsen    1
Pa Gaxa          1
Name: shots, dtype: int64

In [24]:
five_players_df.tackles.sort_values()

surname
Mucha            0
Nam Song-Chol    0
Pa Gaxa          2
Torosidis        5
Simon Poulsen    9
Name: tackles, dtype: int64

In [25]:
c2 = five_players_df.tackles.sort_values()
c2

surname
Mucha            0
Nam Song-Chol    0
Pa Gaxa          2
Torosidis        5
Simon Poulsen    9
Name: tackles, dtype: int64

In [26]:
c3 = c1.sample(3)
c3

surname
Nam Song-Chol    0
Mucha            0
Pa Gaxa          1
Name: shots, dtype: int64

In [27]:
c4 = c2.sample(3)
c4

surname
Mucha            0
Nam Song-Chol    0
Torosidis        5
Name: tackles, dtype: int64

In [28]:
#ถ้าค่าไหนที่ไม่มี index ค่าตรงกันจะแสดงเป็นNan
c3+c4

surname
Mucha            0.0
Nam Song-Chol    0.0
Pa Gaxa          NaN
Torosidis        NaN
dtype: float64

In [29]:
help(c3.add)

Help on method add in module pandas.core.ops:

add(other, level=None, fill_value=None, axis: 'Axis' = 0) method of pandas.core.series.Series instance
    Return Addition of series and other, element-wise (binary operator `add`).

    Equivalent to ``series + other``, but with support to substitute a fill_value for
    missing data in either one of the inputs.

    Parameters
    ----------
    other : Series or scalar value
    level : int or name
        Broadcast across a level, matching Index values on the
        passed MultiIndex level.
    fill_value : None or float value, default None (NaN)
        Fill existing missing (NaN) values, and any new element needed for
        successful Series alignment, with this value before computation.
        If data in both corresponding Series locations is missing
        the result of filling (at that location) will be missing.
    axis : {0 or 'index'}
        Unused. Parameter needed for compatibility with DataFrame.

    Returns
    -------
    Series
        The result of the operation.

    See Also
    --------
    Series.radd : Reverse of the Addition operator, see
        `Python documentation
        <https://docs.python.org/3/reference/datamodel.html#emulating-numeric-types>`_
        for more details.

    Examples
    --------
    >>> a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
    >>> a
    a    1.0
    b    1.0
    c    1.0
    d    NaN
    dtype: float64
    >>> b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
    >>> b
    a    1.0
    b    NaN
    d    1.0
    e    NaN
    dtype: float64
    >>> a.add(b, fill_value=0)
    a    2.0
    b    1.0
    c    1.0
    d    1.0
    e    NaN
    dtype: float64

In [30]:
#แทนค่า Nan ด้วย 0 เมื่อไม่มีคู่
c3.add(c4,fill_value=0)

surname
Mucha            0.0
Nam Song-Chol    0.0
Pa Gaxa          1.0
Torosidis        5.0
dtype: float64

In [31]:
c3

surname
Nam Song-Chol    0
Mucha            0
Pa Gaxa          1
Name: shots, dtype: int64

In [32]:
c4

surname
Mucha            0
Nam Song-Chol    0
Torosidis        5
Name: tackles, dtype: int64

### NAN

In [33]:
c5 = c3+c4
c5

surname
Mucha            0.0
Nam Song-Chol    0.0
Pa Gaxa          NaN
Torosidis        NaN
dtype: float64

In [34]:
#หา NAN
c5.isna()

surname
Mucha            False
Nam Song-Chol    False
Pa Gaxa           True
Torosidis         True
dtype: bool

In [35]:
c5.isnull

<bound method Series.isnull of surname
Mucha            0.0
Nam Song-Chol    0.0
Pa Gaxa          NaN
Torosidis        NaN
dtype: float64>

In [36]:
c5.loc[c5.isna()]

surname
Pa Gaxa     NaN
Torosidis   NaN
dtype: float64

In [37]:
#สลับค่า
~c5.isna()

surname
Mucha             True
Nam Song-Chol     True
Pa Gaxa          False
Torosidis        False
dtype: bool

In [38]:
#การนับค่า nan
c5.isna().sum()

2

In [39]:
#การนับค่า nan 
#shape การดูจำนวนแถวจำนวนคอลัมน์
c5.loc[c5.isna()].shape[0]

2

In [71]:
c5.fillna(0)

surname
Mucha            0.0
Nam Song-Chol    0.0
Pa Gaxa          0.0
Torosidis        0.0
dtype: float64

## Statistic

In [40]:
df = pd.read_csv('players.csv').loc[:,:'saves'].set_index('surname') #loc[row,column] / #set_index by surname
df

                  team    position  minutes  shots  passes  tackles  saves
surname
Abdoun         Algeria  midfielder       16      0       6        0      0
Belhadj        Algeria    defender      270      1     146        8      0
Boudebouz      Algeria  midfielder       74      3      28        1      0
Bougherra      Algeria    defender      270      1      89       11      0
Chaouchi       Algeria  goalkeeper       90      0      17        0      2
...                ...         ...      ...    ...     ...      ...    ...
Holden             USA  midfielder        4      0       2        0      0
Howard             USA  goalkeeper      390      0      81        0     14
Jozy Altidore      USA     forward      356      8      84        2      0
Onyewu             USA    defender      170      1      69        2      0
Torres             USA  midfielder       45      1      32        0      0

[595 rows x 7 columns]

In [41]:
df.shots.sum()

1371

In [42]:
df.sum()

team        AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
position    midfielderdefendermidfielderdefendergoalkeeper...
minutes                                                124274
shots                                                    1371
passes                                                  50290
tackles                                                  2494
saves                                                     397
dtype: object

In [43]:
df.sum(numeric_only=True)

minutes    124274
shots        1371
passes      50290
tackles      2494
saves         397
dtype: int64

In [44]:
#Axis = แกนแถว หรือ แกนคอลัมน์ โดย defalt = แถว
#Axis = 1 การบวกในแถวเดียวกัน
df.sum(numeric_only=True,axis=1)

surname
Abdoun            22
Belhadj          425
Boudebouz        106
Bougherra        371
Chaouchi         109
                ...
Holden             6
Howard           485
Jozy Altidore    450
Onyewu           242
Torres            78
Length: 595, dtype: int64

In [45]:
df.mean(numeric_only=True)

minutes    208.863866
shots        2.304202
passes      84.521008
tackles      4.191597
saves        0.667227
dtype: float64

In [46]:
# ต้องระวังหน่อยในการอ่านข้อมูล max , min จะคิดตามคอลัมน์ โดยทุกคอลัมน์เป็นอิสระต่อกัน
df.max()

team           Uruguay
position    midfielder
minutes            570
shots               27
passes             563
tackles             34
saves               20
dtype: object

In [64]:
#การจัดอันดับ
df.passes.rank()

surname
Abdoun            37.5
Belhadj          492.0
Boudebouz        142.0
Bougherra        377.5
Chaouchi          89.0
                 ...
Holden            12.5
Howard           358.0
Jozy Altidore    367.0
Onyewu           317.0
Torres           160.0
Name: passes, Length: 595, dtype: float64

In [66]:
df.passes.max()

563

In [69]:
#ค่า passes ที่มากที่สุดอยู่ index ไหน
df.passes.idxmax()

'Xavi'

In [68]:
df.iloc[536,:]

team             Spain
position    midfielder
minutes            515
shots                4
passes             563
tackles              6
saves                0
hours         8.583333
number             NaN
Name: Xavi, dtype: object

In [70]:
df.shots.idxmin()

'Abdoun'

In [ ]:
#การกระจาย + 5 เข้าไปในตาราง ค่าทุกตัวจะถูกบวก 5
df.loc[:,'minutes':]+5

### drop / insert col,row

In [47]:
df.iloc[:,:-1]

                  team    position  minutes  shots  passes  tackles
surname
Abdoun         Algeria  midfielder       16      0       6        0
Belhadj        Algeria    defender      270      1     146        8
Boudebouz      Algeria  midfielder       74      3      28        1
Bougherra      Algeria    defender      270      1      89       11
Chaouchi       Algeria  goalkeeper       90      0      17        0
...                ...         ...      ...    ...     ...      ...
Holden             USA  midfielder        4      0       2        0
Howard             USA  goalkeeper      390      0      81        0
Jozy Altidore      USA     forward      356      8      84        2
Onyewu             USA    defender      170      1      69        2
Torres             USA  midfielder       45      1      32        0

[595 rows x 6 columns]

In [48]:
#drop ได้ทั้งแถวและคอลัมน์
df.drop('saves',axis=1)

                  team    position  minutes  shots  passes  tackles
surname
Abdoun         Algeria  midfielder       16      0       6        0
Belhadj        Algeria    defender      270      1     146        8
Boudebouz      Algeria  midfielder       74      3      28        1
Bougherra      Algeria    defender      270      1      89       11
Chaouchi       Algeria  goalkeeper       90      0      17        0
...                ...         ...      ...    ...     ...      ...
Holden             USA  midfielder        4      0       2        0
Howard             USA  goalkeeper      390      0      81        0
Jozy Altidore      USA     forward      356      8      84        2
Onyewu             USA    defender      170      1      69        2
Torres             USA  midfielder       45      1      32        0

[595 rows x 6 columns]

In [49]:
#drop ได้ทั้งแถวและคอลัมน์ โดยที่ axis = 0 : แถว , axis 1 = คอลัมน์
df.drop(['saves','shots'],axis=1)

                  team    position  minutes  passes  tackles
surname
Abdoun         Algeria  midfielder       16       6        0
Belhadj        Algeria    defender      270     146        8
Boudebouz      Algeria  midfielder       74      28        1
Bougherra      Algeria    defender      270      89       11
Chaouchi       Algeria  goalkeeper       90      17        0
...                ...         ...      ...     ...      ...
Holden             USA  midfielder        4       2        0
Howard             USA  goalkeeper      390      81        0
Jozy Altidore      USA     forward      356      84        2
Onyewu             USA    defender      170      69        2
Torres             USA  midfielder       45      32        0

[595 rows x 5 columns]

In [50]:
#การ drop index
#df.drop([2,3,5,6],axis = 0)

In [51]:
df

                  team    position  minutes  shots  passes  tackles  saves
surname
Abdoun         Algeria  midfielder       16      0       6        0      0
Belhadj        Algeria    defender      270      1     146        8      0
Boudebouz      Algeria  midfielder       74      3      28        1      0
Bougherra      Algeria    defender      270      1      89       11      0
Chaouchi       Algeria  goalkeeper       90      0      17        0      2
...                ...         ...      ...    ...     ...      ...    ...
Holden             USA  midfielder        4      0       2        0      0
Howard             USA  goalkeeper      390      0      81        0     14
Jozy Altidore      USA     forward      356      8      84        2      0
Onyewu             USA    defender      170      1      69        2      0
Torres             USA  midfielder       45      1      32        0      0

[595 rows x 7 columns]

In [52]:
df.minutes / 60

surname
Abdoun           0.266667
Belhadj          4.500000
Boudebouz        1.233333
Bougherra        4.500000
Chaouchi         1.500000
                   ...
Holden           0.066667
Howard           6.500000
Jozy Altidore    5.933333
Onyewu           2.833333
Torres           0.750000
Name: minutes, Length: 595, dtype: float64

In [53]:
#insert col hours
df['hours'] = df.minutes/60

In [54]:
df

,team,position,minutes,shots,passes,tackles,saves,hours
surname,,,,,,,,
Abdoun,Algeria,midfielder,16,0,6,0,0,0.266667
Belhadj,Algeria,defender,270,1,146,8,0,4.500000
Boudebouz,Algeria,midfielder,74,3,28,1,0,1.233333
Bougherra,Algeria,defender,270,1,89,11,0,4.500000
Chaouchi,Algeria,goalkeeper,90,0,17,0,2,1.500000
...,...,...,...,...,...,...,...,...
Holden,USA,midfielder,4,0,2,0,0,0.066667
Howard,USA,goalkeeper,390,0,81,0,14,6.500000
Jozy Altidore,USA,forward,356,8,84,2,0,5.933333
Onyewu,USA,defender,170,1,69,2,0,2.833333
Torres,USA,midfielder,45,1,32,0,0,0.750000

In [55]:
#ถ้าจะสร้างคอลัมน์ใหม่แล้วมาต่อกับ df จะต้องมีค่า row เท่ากับ df

In [56]:
#การสร้างคอลัมน์ 
#range(start = 1 , end = 595 ไม่เอา 596)
pd.Series(range(1,596))

0        1
1        2
2        3
3        4
4        5
      ...
590    591
591    592
592    593
593    594
594    595
Length: 595, dtype: int64

In [57]:
df['number'] = pd.Series(range(1,596))

In [58]:
df

,team,position,minutes,shots,passes,tackles,saves,hours,number
surname,,,,,,,,,
Abdoun,Algeria,midfielder,16,0,6,0,0,0.266667,NaN
Belhadj,Algeria,defender,270,1,146,8,0,4.500000,NaN
Boudebouz,Algeria,midfielder,74,3,28,1,0,1.233333,NaN
Bougherra,Algeria,defender,270,1,89,11,0,4.500000,NaN
Chaouchi,Algeria,goalkeeper,90,0,17,0,2,1.500000,NaN
...,...,...,...,...,...,...,...,...,...
Holden,USA,midfielder,4,0,2,0,0,0.066667,NaN
Howard,USA,goalkeeper,390,0,81,0,14,6.500000,NaN
Jozy Altidore,USA,forward,356,8,84,2,0,5.933333,NaN
Onyewu,USA,defender,170,1,69,2,0,2.833333,NaN
Torres,USA,midfielder,45,1,32,0,0,0.750000,NaN

In [59]:
#การสร้าง row
dic = {'sername':'Patcharaporn',
      'team' : 'Thailand',
      'position' :'midfielder',
      'minutes':30}

In [60]:
pd.Series(dic)

sername     Patcharaporn
team            Thailand
position      midfielder
minutes               30
dtype: object

In [61]:
new_row = pd.Series(dic)
new_row

sername     Patcharaporn
team            Thailand
position      midfielder
minutes               30
dtype: object

In [62]:
#595 มาจาก row ของ df ในปัจจุบัน
new_row.name = 595
new_row

sername     Patcharaporn
team            Thailand
position      midfielder
minutes               30
Name: 595, dtype: object

In [65]:
#เอา row ไปต่อ
df.append(new_row)

AttributeError: 'DataFrame' object has no attribute 'append'